
.card{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 1px;
    width: 300px;
    height: 288px;
    margin: 32px 12px 0 12px;
    /*background-color: #d2d2d2;*/
    padding: 12px;
    border: 1px solid #575757;
    border-radius: 5px;
}

.words{
    /*margin: 0 auto;*/
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -25%);
    background-color: rgba(255, 255, 255, 0.5);
    color: Black;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0;
}

.card:hover .words{
    opacity: 1;
}
.card:hover{
    box-shadow: 3px 3px #bebebe;
}


.pButton {
    box-shadow:inset 0px 0px 15px 3px #8a8a8a;
    background:linear-gradient(to bottom, #c7c7c7 5%, #b8b8b8 100%);
    background-color:#c7c7c7;
    border-radius:10px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Arial;
    font-size:15px;
    padding:6px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ebebeb;
}
.pButton:hover {
    background:linear-gradient(to bottom, #b8b8b8 5%, #c7c7c7 100%);
    background-color:#b8b8b8;
}
.pButton:active {
    position:relative;
    top:1px;
}


@media only screen and (max-width: 425px){
    .card{
        width: 256px;
    }

    .pButton {

    }
}