.NavBarContainer{
    display:flex;
    flex-direction: row;
    width: 100%;
}

.NavBarElement{
    margin-left: 20px;
    border-radius: 5px;
}

.NavBarElement:hover{
    background: #d2d2d2;
    text-decoration: underline;
}

