body {
  margin: 0;
  font-family:"Impact", "Charcoal";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Courier New";
}

h2{
  font-family: "Courier New";
}

h3{
  font-family: "Courier New";
}

p {
font-family: "europa", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
