.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio{
    padding-bottom: 48px;
    border-bottom: black solid 2px;
}

.textSlider{
    margin:64px auto 48px;

}

.contactPage{
    border-top: black solid 2px;
    margin-top:96px;
}
.contactHeader{
    margin:32px auto;
}