.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Title{
    font-weight: bolder;
}

.high-text{
    color:#5fc68e;
}

.header-padding-2{
    padding-left: 16px;
    padding-right: 16px;
}


.portfolio{
    padding-bottom: 48px;
    /*border-bottom: black solid 2px;*/
}

.textSlider{
    margin:64px auto 48px;
    padding-right: 16px;
    padding-left:16px;

}

.contactPage{
    border-top: black solid 2px;
    margin-top:96px;
}
.contactHeader{
    margin:32px auto;
}



@media only screen and (max-width: 550px){
    .Title{
        font-size: small;
    }
    .high-text{
        font-size: smaller;
    }


}