.skillPage{
    width: 100vw;
}

.skillsContainer{
    margin-bottom: 32px;
    position:relative;
    width: 100vw;
    height:768px;
}
.greenHalf{
    width: 100vw;
    height: 384px;
    background-color: #5fc68e;
}

.skillsButton{
    width: 512px;
    height:64px;
    border-radius:30px;
    border:solid #5fc68e 1px;
    margin:24px;
}

.skillButtonText{
    margin:auto auto;
}

.skillsButton:hover{
    background-color: #5fc68e;
    color:white;
}

.skillsButton:hover .skillButtonText{
    color:white;
}

#hideSkillsButton{
   position: absolute;
    width: 1024px;
    bottom:0;
    left:calc(50% - 512px);
}

.skillsBox{
    background-color: white;
    border-radius: 20px;
    margin:24px;
    position: absolute;
    left:calc(50% - 512px);
    top:0;
    width: 1024px;
    height:600px;
    border-bottom: #dcdcdc solid 1px;
}


.skillsTable{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.skillIcon{
    width: 40%;
    heigh:40%;
}

.skillCatagory{
    padding: 12px;
    flex-basis: 256px;

}

.skillList{
    list-style-type: none;
}


.skillSwitchButtons{
    font-size: 24px;
    color:#5fc68e;
    background-color: white;
    height: 600px;
    width: 64px;
    border:solid 1px #dcdcdc;
}

.skillSwitchButtons:hover{
    color:white;
    background-color: #5fc68e;
}
.skillSwitchButtons:focus{
    outline: none;
}

#nextButton{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#backButton{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.MySkills{
    background-color: #5fc68e;
    width: 100vw;
    padding-bottom: 48px;
    margin-bottom: 12px;
}

@media only screen and (max-width: 1200px){
    .skillsBox{
        width: 512px;
        left:calc(50% - 256px);
    }
    #hideSkillsButton{
        width: 512px;
        left:calc(50% - 256px);
    }
    .skillsButton{
        width: 384px;
    }
    .skillButtonText{
        font-size: medium;
    }

}

@media only screen and (max-width: 700px){
    .skillsBox{
        width: 384px;
        left:calc(50% - 212px);
    }
    #hideSkillsButton{
        width: 384px;
        left:calc(50% - 212px);
    }
    .skillsButton{
        width: 256px;
    }
    .skillButtonText{
        font-size: smaller;
    }
    .skillSwitchButtons{
        width: 48px;
    }
}

@media only screen and (max-width: 550px){
    .skillsBox{
        width: 288px;
        left:calc(40% - 144px);
    }
    #hideSkillsButton{
        width: 288px;
        left:calc(40% - 144px);
    }
    .skillIcon{
        width: 40%;
        height: 40%;
    }
    .skillSwitchButtons{
        width: 32px;
    }

}